@model AdminLTE.MVC.Models.Apartamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Apartamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApartamentoId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apartamento" class="control-label"></label>
                <input asp-for="apartamento" class="form-control" />
                <span asp-validation-for="apartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bloco" class="control-label"></label>
                <input asp-for="Bloco" class="form-control" />
                <span asp-validation-for="Bloco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CondominioId" class="control-label"></label>
                <select asp-for="CondominioId" class="form-control" asp-items="ViewBag.CondominioId"></select>
                <span asp-validation-for="CondominioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

