<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-2">Bem-vindo! A sua área de administração ACQUAX</h1>
        <p class="lead">Aqui você poderá incluir Condominios, apartamentos e leituras</p>
    </div>
</div>